.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: var(--color-main-text);
  color: var(--color-main-color);
  border: var(--sizing-basic-border) solid var(--color-main-text);
  margin-right: 15px; }

.btn-ghost:link,
.btn-ghost:visited {
  border: var(--sizing-basic-border) solid var(--color-main-text);
  color: var(--color-main-text); }

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: var(--color-main-text); }

.btn-full:hover,
.btn-full:active {
  border: var(--sizing-basic-border) solid var(--color-main-text); }

.btn-ghost:hover,
.btn-ghost:active {
  border: var(--sizing-basic-border) solid var(--color-main-text);
  color: var(--color-main-color); }
