.testimon {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  padding: 10px;
  justify-content: space-evenly; }
  .testimon .col-testimon {
    padding: 10px;
    font-size: 20px;
    text-align: left; }

@media only screen and (max-width: 770px) {
  .testimon {
    display: block; } }
