@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  --color-main-text:  #e67e22;
  --color-main-bgrd: #FFF;
  --color-body-color: #5d5d5d;
  --color-main-color: #FFF;
  --sizing-basic-border: 1px;
  --sizing-bigger-border: 2px;
  --font-size-initial: 12px;
  --font-size-lv2: 14px;
  --font-size-lv3: 16px;
  --font-size-lv4: 18px; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

section {
  padding: 80px 0; }

.box {
  padding: 1%; }

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%; }

.box p {
  font-size: 90%;
  line-height: 145%; }

@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%; }
  .row {
    padding: 0 2%; } }

@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px; }
  section {
    padding: 60px 0; }
  .long-copy {
    width: 80%;
    margin-left: 10%; }
  .steps-box:first-child {
    margin-top: 10px; }
  .steps-box:last-child {
    margin-top: 10px; }
  .works-steps {
    margin-bottom: 40px; }
  .works-step:last-of-type {
    margin-bottom: 60px; }
  .app-screen {
    width: 50%; }
  .icon-small {
    margin-right: 10px;
    width: 17px; }
  .city-feature {
    font-size: 90%; }
  .plan-box {
    width: 100%;
    margin-left: 0%; }
  .plan-price {
    font-size: 250%; }
  .contact-form {
    width: 80%; } }

@media only screen and (max-width: 700px) {
  body {
    font-size: 16px; }
  section {
    padding: 30px 0; }
  .row,
  .hero-text-box {
    padding: 0 4%; }
  .col {
    width: 100%;
    margin: 0 0 4% 0; }
  .main-nav {
    display: none; }
  .mobile-nav-icon {
    display: block; }
  .main-nav {
    float: left;
    display: block;
    margin-top: 35px;
    margin-left: 25px; }
  .main-nav li {
    display: block; }
  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%; }
  h1 {
    font-size: 180%; }
  h2 {
    font-size: 150%; }
  .long-copy {
    width: 100%;
    margin-left: 0%; }
  .app-screen {
    width: 40%; }
  .steps-box:first-child {
    text-align: center; }
  .works-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%; }
  .works-step {
    margin-bottom: 20px; }
  .works-step:last-of-type {
    margin-bottom: 20px; } }

@media only screen and (max-width: 500px) {
  section {
    padding: 25px 0; }
  .contact-form {
    width: 100%; }
  #works > div:nth-child(2) > div:nth-child(1) > img {
    width: 100%; } }

.section-steps {
  background-color: #f4f4f4; }

.steps-box:first-child {
  margin-top: 30px;
  text-align: right;
  padding-right: 3%; }

.steps-box:last-child {
  margin-top: 70px;
  text-align: left;
  padding-left: 3%; }

.app-screen {
  width: 40%; }

.works-step {
  margin-bottom: 50px; }
  .works-step:last-of-type {
    margin-bottom: 80px; }
  .works-step div {
    color: var(--color-main-text);
    border: 2px solid var(--color-main-text);
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px; }

.btn-app:link,
.btn-app:visited {
  border: 0; }

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px; }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 500px) {
  .col {
    margin: 0; } }

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%; }

.span-1-of-2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 500px) {
  .span-2-of-2 {
    width: 100%; }
  .span-1-of-2 {
    width: 100%; } }

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%; }

.span-2-of-3 {
  width: 66.13%; }

.span-1-of-3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 500px) {
  .span-3-of-3 {
    width: 100%; }
  .span-2-of-3 {
    width: 100%; }
  .span-1-of-3 {
    width: 100%; } }

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%; }

.span-3-of-4 {
  width: 74.6%; }

.span-2-of-4 {
  width: 49.2%; }

.span-1-of-4 {
  width: 23.8%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 500px) {
  .span-4-of-4 {
    width: 100%; }
  .span-3-of-4 {
    width: 100%; }
  .span-2-of-4 {
    width: 100%; }
  .span-1-of-4 {
    width: 100%; } }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body {
  background-color: var(--color-main-bgrd);
  color: var(--color-body-color);
  font: 16px/1.5/"Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px; }

h1,
h2,
h3 {
  font-weight: 300;
  letter-spacing: 1px; }

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  word-spacing: 4px;
  font-size: 3em;
  font-weight: normal; }

h2 {
  font-size: 2.2em;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px; }

h3 {
  font-size: 1.9em;
  margin-bottom: 15px; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h2:after {
  display: block;
  height: 2px;
  background-color: var(--color-main-text);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px; }

@media screen and (min-width: 500px) {
  html {
    font-size: var(--font-size-initial, 12px); } }

@media screen and (min-width: 700px) {
  html {
    font-size: var(--font-size-lv3, 14px); } }

@media screen and (min-width: 1024px) {
  html {
    font-size: var(--font-size-lv4, 16px); } }

@media screen and (min-width: 1600px) {
  html {
    font-size: var(--font-size-lv4, 18px); } }

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: var(--color-main-text);
  color: var(--color-main-color);
  border: var(--sizing-basic-border) solid var(--color-main-text);
  margin-right: 15px; }

.btn-ghost:link,
.btn-ghost:visited {
  border: var(--sizing-basic-border) solid var(--color-main-text);
  color: var(--color-main-text); }

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: var(--color-main-text); }

.btn-full:hover,
.btn-full:active {
  border: var(--sizing-basic-border) solid var(--color-main-text); }

.btn-ghost:hover,
.btn-ghost:active {
  border: var(--sizing-basic-border) solid var(--color-main-text);
  color: var(--color-main-color); }

.contact-form {
  width: 60%;
  margin: 0 auto; }

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  height: auto;
  padding: 7px;
  border-radius: 3px;
  border: var(--sizing-basic-border) solid #cccccc; }

textarea {
  height: 100px; }

input[type=checkbox] {
  margin: 10px 5px 10px 0; }

*:focus {
  outline: none; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../resources/img/photo-1504674900247-0877df9cc836.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.main-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 35px; }
  .main-nav li {
    display: flex;
    align-items: flex-end;
    margin-right: 50px; }
    .main-nav li a:link,
    .main-nav li a:visited {
      color: var(--color-main-color);
      text-decoration: none;
      font-size: 1.3em;
      border-bottom: var(--sizing-bigger-border) solid transparent;
      transition: border-bottom 0.2s;
      padding: 8px 0; }
    .main-nav li a:hover,
    .main-nav li a:active {
      border-bottom: var(--sizing-bigger-border) solid var(--color-main-text); }

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.nav-main-toggle,
.nav-toggle,
input[type=checkbox] {
  display: none; }

@media only screen and (max-width: 700px) {
  #nav-main-toggle:checked ~ .navigation ul {
    display: block;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .nav-toggle {
    display: block;
    color: white;
    font-weight: 450;
    margin-left: 45px;
    padding-top: 15px; }
  .navigation {
    position: relative; }
    .navigation ul {
      flex-direction: column;
      height: auto;
      position: absolute;
      left: 0;
      -webkit-transform: translateY(-135%);
              transform: translateY(-135%);
      transition: 1.5s;
      z-index: 1000; }
      .navigation ul li {
        margin-left: 20px; }
      .navigation ul li:hover a {
        font-size: 1.5rem;
        font-weight: 700;
        transition: 0.3s;
        border-bottom: var(--sizing-bigger-border) solid var(--color-main-text); } }

.section-features .long-copy {
  margin-bottom: 30px; }

.section-meals {
  padding: 0; }

.meals-showcase {
  list-style: none;
  width: 100%; }
  .meals-showcase li {
    display: block;
    float: left;
    width: 25%;
    position: relative; }

.meal-photo {
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  background: #000; }
  .meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }
    .meal-photo img:hover {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
      opacity: 1; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

section {
  padding: 80px 0; }

.box {
  padding: 1%; }

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%; }

.box p {
  font-size: 90%;
  line-height: 145%; }

@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%; }
  .row {
    padding: 0 2%; } }

@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px; }
  section {
    padding: 60px 0; }
  .long-copy {
    width: 80%;
    margin-left: 10%; }
  .steps-box:first-child {
    margin-top: 10px; }
  .steps-box:last-child {
    margin-top: 10px; }
  .works-steps {
    margin-bottom: 40px; }
  .works-step:last-of-type {
    margin-bottom: 60px; }
  .app-screen {
    width: 50%; }
  .icon-small {
    margin-right: 10px;
    width: 17px; }
  .city-feature {
    font-size: 90%; }
  .plan-box {
    width: 100%;
    margin-left: 0%; }
  .plan-price {
    font-size: 250%; }
  .contact-form {
    width: 80%; } }

@media only screen and (max-width: 700px) {
  body {
    font-size: 16px; }
  section {
    padding: 30px 0; }
  .row,
  .hero-text-box {
    padding: 0 4%; }
  .col {
    width: 100%;
    margin: 0 0 4% 0; }
  .main-nav {
    display: none; }
  .mobile-nav-icon {
    display: block; }
  .main-nav {
    float: left;
    display: block;
    margin-top: 35px;
    margin-left: 25px; }
  .main-nav li {
    display: block; }
  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%; }
  h1 {
    font-size: 180%; }
  h2 {
    font-size: 150%; }
  .long-copy {
    width: 100%;
    margin-left: 0%; }
  .app-screen {
    width: 40%; }
  .steps-box:first-child {
    text-align: center; }
  .works-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%; }
  .works-step {
    margin-bottom: 20px; }
  .works-step:last-of-type {
    margin-bottom: 20px; } }

@media only screen and (max-width: 500px) {
  section {
    padding: 25px 0; }
  .contact-form {
    width: 100%; }
  #works > div:nth-child(2) > div:nth-child(1) > img {
    width: 100%; } }

.section-steps {
  background-color: #f4f4f4; }

.steps-box:first-child {
  margin-top: 30px;
  text-align: right;
  padding-right: 3%; }

.steps-box:last-child {
  margin-top: 70px;
  text-align: left;
  padding-left: 3%; }

.app-screen {
  width: 40%; }

.works-step {
  margin-bottom: 50px; }
  .works-step:last-of-type {
    margin-bottom: 80px; }
  .works-step div {
    color: var(--color-main-text);
    border: 2px solid var(--color-main-text);
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px; }

.btn-app:link,
.btn-app:visited {
  border: 0; }

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px; }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 500px) {
  .col {
    margin: 0; } }

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%; }

.span-1-of-2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 500px) {
  .span-2-of-2 {
    width: 100%; }
  .span-1-of-2 {
    width: 100%; } }

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%; }

.span-2-of-3 {
  width: 66.13%; }

.span-1-of-3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 500px) {
  .span-3-of-3 {
    width: 100%; }
  .span-2-of-3 {
    width: 100%; }
  .span-1-of-3 {
    width: 100%; } }

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%; }

.span-3-of-4 {
  width: 74.6%; }

.span-2-of-4 {
  width: 49.2%; }

.span-1-of-4 {
  width: 23.8%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 500px) {
  .span-4-of-4 {
    width: 100%; }
  .span-3-of-4 {
    width: 100%; }
  .span-2-of-4 {
    width: 100%; }
  .span-1-of-4 {
    width: 100%; } }

.section-plans {
  background-color: #f4f4f4; }

.plan-box {
  background-color: var(--color-main-bgrd);
  border-radius: 5px;
  width: 90%;
  margin-left: 5%; }
  .plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e6e5e5;
    box-shadow: 0 2px 2px #efefef; }
  .plan-box span {
    font-weight: 300;
    font-size: 30%; }
  .plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .plan-box div:last-child {
    text-align: center;
    border-bottom: transparent; }
  .plan-box li {
    padding: 5px 0; }
  .plan-box ul {
    list-style: none; }

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: var(--color-main-text); }
  .plan-price-meal {
    font-size: 80%; }

.fa-check,
.fa-times {
  color: var(--color-main-text);
  margin-right: 0.5rem; }

.testimon {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  padding: 10px;
  justify-content: space-evenly; }
  .testimon .col-testimon {
    padding: 10px;
    font-size: 20px;
    text-align: left; }

@media only screen and (max-width: 700px) {
  .testimon {
    display: block; } }

.section-cities img {
  width: 100%;
  height: auto;
  margin-bottom: 15px; }

.city-feature {
  margin-bottom: 5px; }

.js--wp-3 a {
  text-decoration: none;
  color: #5d5d5d; }

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../resources/img/back-customers.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-main-color); }

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px; }
  blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px; }

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block; }
  cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; }

footer {
  padding: 40px;
  background-color: #333;
  color: #e6e6e6;
  font-size: 80%; }
  footer-nav {
    text-decoration: none;
    list-style: none;
    float: left; }
  footer p {
    margin-top: 20px;
    color: #888;
    text-align: center;
    font-size: 100%; }

.social-icons {
  list-style: none;
  float: right; }

.footer-nav li,
.social-icons li {
  display: inline-block;
  margin-right: 20px; }
  .footer-nav li a,
  .social-icons li a {
    color: gray;
    display: inline-block;
    margin-right: 20px; }
    .footer-nav li a:hover,
    .social-icons li a:hover {
      text-decoration: none;
      border-bottom: 0;
      color: #ddd; }
    .footer-nav li a:link,
    .social-icons li a:link {
      text-decoration: none;
      border-bottom: 0;
      color: var(--color-main-color);
      transition: color 0.2s;
      font-size: 150%; }
  .footer-nav li:last-child,
  .social-icons li:last-child {
    margin-right: 0; }

.fa-facebook-f,
.fa-twitter,
.fa-google-plus-square,
.fa-instagram {
  transition: color 0.2s; }

.fa-facebook-f:hover {
  color: #3b5998; }

.fa-instagram:hover {
  color: #517fa4; }

.fa-twitterr:hover {
  color: #00aced; }

.fa-google-plus-square:hover {
  color: #dd4b39; }
