<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body class="{{ page.body_class }} {{ page.title | slugify }}">

    <header>
        <nav>
            <div class="row">
                <ul class="main-nav js--main-nav">
                    <li><a href="#features">Food Delivery</a></li>
                    <li><a href="#works">How to order</a></li>
                    <li><a href="#restaurants">Our restaurants</a></li>
                    <li><a href="#meals">Meals</a></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>The greatest wealth is Health.</h1>
            <a href="#gallery" class="btn btn-ghost js--scroll-to-plans">Gallery</a>
            <a href="#meals" class="btn btn-ghost js--scroll-to-start">Order meal</a>
        </div>
    </header>


    <main class="site-content">

        <section class="features-section" id="features">
            <div class="row">
                <h2>Facts to motivate you to eat healthy.</h2>
                <p class="long-copy">
                    17 scientific facts to motivate you to eat healthy even when you really don't want to
                </p>
            </div>

            <div class="row">
                <div class="col span-1-of-4 feature-box">
                    <h3>American Academy of Dermatology</h3>
                    <p>
                        A healthy diet could make your skin glow. Carbohydrate-rich foods with a high glycemic index
                        (meaning they quickly increase your blood sugar) could contribute to acne, studies have found.
                    </p>
                </div>
                <div class="col span-1-of-4 feature-box">
                    <h3>Harvard School of Public Health</h3>
                    <p>
                        It'll save you money. A large study found unhealthy diets full of processed foods cost $1.50
                        more a day than healthy ones full of whole foods.
                    </p>
                </div>
                <div class="col span-1-of-4 feature-box">
                    <h3>British Journal of Health Psychology</h3>
                    <p>
                        A well-balanced diet could improve your mood. People who eat more fruits and vegetables tend to
                        report better mental health in studies.
                    </p>
                </div>
                <div class="col span-1-of-4 feature-box">
                    <h3>American Heart Association</h3>
                    <p>
                        Many studies have shown that eating a healthy diet could reduce your risk of cardiovascular
                        disease, including heart attacks and strokes.
                    </p>
                </div>
            </div>
        </section>

        <section class="section-meals" id='gallery'>
            <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img src="../resources/img/1.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../resources/img/2.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../resources/img/3.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../resources/img/4.jpg" alt="">
                    </figure>
                </li>
            </ul>
            <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img src="../resources/img/6.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../resources/img/6.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../resources/img/7.jpg" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../resources/img/8.jpg" alt="">
                    </figure>
                </li>
            </ul>
        </section>

        <section class="section-form">
            <div class="row">
                <h2>We're happy to hear from you</h2>
            </div>
            <div class="row">
                <form method="post" action="#" class="contact-form">
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="name">Name</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="name" id="name" placeholder="Your name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="email">Email</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="email" name="email" id="email" placeholder="Your email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="find-us">How did you find us?</label>
                        </div>
                        <div class="col span-2-of-3">
                            <select name="find-us" id="find-us">
                                <option value="friends" selected>Friends</option>
                                <option value="Search">Search engine</option>
                                <option value="ad">Advertisement</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="news">Newsletter?</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="checkbox" name="news" id="news" checked> Yes, Please
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="message">Drop us a line?</label>
                        </div>
                        <div class="col span-2-of-3">
                            <textarea name="message" placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="submit" value="Send">
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </main>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">iOS</a></li>
                    <li><a href="#">Android</a></li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyright &copy; 2019 by HealthyFood. All rights reserved
            </p>
        </div>
    </footer>

</body>

</html>