header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../resources/img/photo-1504674900247-0877df9cc836.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../resources/img/photo-1504674900247-0877df9cc836.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 35px;

    li {
        display: flex;
        align-items: flex-end;
        margin-right: 50px;

         a:link,
         a:visited {
             color: var(--color-main-color);;
             text-decoration: none;
             font-size: 1.3em;
             border-bottom: var(--sizing-bigger-border) solid transparent;
             -webkit-transition: border-bottom 0.2s;
             transition: border-bottom 0.2s;
             padding: 8px 0;
         }

         a:hover,
         a:active {
             border-bottom: var(--sizing-bigger-border) solid var(--color-main-text);
         }
     }
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-main-toggle,
.nav-toggle,
input[type=checkbox]{
    display: none;
}



@media only screen and (max-width: 700px) {#nav-main-toggle:checked ~ .navigation {
    ul {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .nav-toggle {
    display: block;
    color: white;
    font-weight: 450;
    margin-left: 45px;
    padding-top: 15px;
  }

  .navigation {
    position: relative;

    ul {
      flex-direction: column;
      height: auto;
      position: absolute;
      left:  0;

      transform: translateY(-135%);
      transition: 1.5s;
      z-index: 1000;

      li {
          margin-left: 20px;
          
      }
      li:hover a {
        font-size: 1.5rem;
        font-weight: 700;
        transition: 0.3s;
        border-bottom: var(--sizing-bigger-border) solid var(--color-main-text);
      }
    }
  }
}