.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: var(--color-main-bgrd);
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;

    div {
        padding: 15px;
        border-bottom: 1px solid #e6e5e5;
        box-shadow: 0 2px 2px #efefef;
        
    }

    span {
        font-weight: 300;
        font-size: 30%;
    }

    div:first-child {
        background-color: #fcfcfc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    div:last-child {
        text-align: center;
        border-bottom: transparent;
    }

    li {
        padding: 5px 0;
    }

    ul {
        list-style: none;
    }
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: var(--color-main-text);

    &-meal {
        font-size: 80%;
    }
}

.fa-check,
.fa-times {
    color: var(--color-main-text);
    margin-right: 0.5rem;
}