@mixin footer($color) {
    color: $color;
  }

footer {
    padding: 40px;
    background-color: #333;
    color: #e6e6e6;
    font-size: 80%;

    &-nav {
        text-decoration: none;
        list-style: none;
        float: left
    }

    p {
        margin-top: 20px;
        color: #888;
        text-align: center;
        font-size: 100%;
    }
}

.social-icons {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;

     a {
        color: gray;
        display: inline-block;
        margin-right: 20px;

        &:hover {
            text-decoration: none;
            border-bottom: 0;
            color: #ddd;
        }

        &:link {
            text-decoration: none;
            border-bottom: 0;
            color: var(--color-main-color);;
            -webkit-transition: color 0.2s;
            transition: color 0.2s;
            font-size: 150%;
        }
     }

     &:last-child {
        margin-right: 0;
     }
}

.fa-facebook-f,
.fa-twitter,
.fa-google-plus-square,
.fa-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-facebook-f:hover {
    @include footer(#3b5998);
}

.fa-instagram:hover {
    @include footer(#517fa4);
}

.fa-twitterr:hover {
    @include footer(#00aced);
}

.fa-google-plus-square:hover {
    @include footer( #dd4b39);
}

