:root {
    --color-main-text:  #e67e22;
    --color-main-bgrd: #FFF;
    --color-body-color: #5d5d5d;
    --color-main-color: #FFF;

    
    --sizing-basic-border: 1px;
    --sizing-bigger-border: 2px;

    --font-size-initial: 12px;
    --font-size-lv2: 14px;
    --font-size-lv3: 16px;
    --font-size-lv4: 18px;
}