/* ---- ICONS ---- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /* icon align tricks */
    
    vertical-align: middle;
    line-height: 120%;
    margin-top: -5px;
}


/* --- LINKS --- */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: transparent;
}


/* Sticky Nav */

.sticky {
    position: fixed; 
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.98);
      box-shadow: 0 2px 2px #efefef;
      z-index: 9999;
  }
  
  .sticky .main-nav {margin-top: 18px;}
  
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
      color: #555;
      padding: 16px 0;
  }
  
  .sticky .logo {display: none;}
  .sticky .logo-black {display: block;}
  
  /* Mobile NAV */
  
  .mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;   
    display: none;
  }
  
  .mobile-nav-icon i {
      font-size: 200%;
      color: #fff;
  
  }